{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Activity{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>

    <label for="date">Date. Defaults to today if blank</label>
    <input name="start_date" id="date" value="{{ request.form['start_date'] }}">

    <label for="distance">Distance in Miles</label>
    <input name="distance" id="distance" value="{{ request.form['distance'] }}">

    <label for="duration">Duration (in seconds for now)</label>
    <input name="duration" id="duration" value="{{ request.form['duration'] }}">

    <label for="description">Description</label>
    <textarea name="description" id="description">{{ request.form['description'] }}</textarea>
    
    <input type="submit" value="Save">
  </form>
{% endblock %}