{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="coach_or_athlete">Coach or Athlete</label>
    <input type="radio" name="coach_or_athlete" id="coach" value="coach" disabled>
    <label for="coach">Coach (coming soon)</label>
    <input type="radio" name="coach_or_athlete" id="athlete" value="athlete" checked="checked">
    <label for="athlete">Athlete</label>
    <input type="submit" value="Register">
  </form>
{% endblock %}