{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='days.css') }}">
<div class="">
    <main>
      <div class="toolbar">
        <div class="toggle">
          <div class="toggle__option">week</div>
          <div class="toggle__option toggle__option--selected">month</div>
        </div>
        <div class="current-month">{{month}} {{year}}</div>
      </div>
      <div class="calendar">
        <div class="calendar__header">
          <div>mon</div>
          <div>tue</div>
          <div>wed</div>
          <div>thu</div>
          <div>fri</div>
          <div>sat</div>
          <div>sun</div>
        </div>
        {% for week in sample %}
        <div class="calendar__week">
            {% for day in week %}
                {% if day == 0 %}
                <div class="calendar__day day"></div>
                {% else %}
                <div class="calendar__day day">{{day}}</div>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
      </div>
    </main>
  </div>
{% endblock %}