{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Activities{% endblock %}</h1>
    {% if g.athlete %}
        <a class="action" href="{{ url_for('activity.create') }}">New. this won't work yet</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for activity in activities %}
        <article class="activity">
            <header>
                <div>
                    <h1>{{ activity['title'] }}</h1>
                    <div class="about">by {{ activity['username'] }} on {{ activity['start_date'].strftime('%Y-%m-%d') }}</div>
                </div>
                {% if g.athlete['id'] == activity['athlete_id'] %}
                    <a class="action" href="{{ url_for('activity.update', id=activity['id']) }}">Edit. This also won't work yet</a>
                {% endif %}
            </header>
            <p class="body">{{ activity['description'] }}</p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}