{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Activities{% endblock %}</h1>
        {% if g.athlete %}
            <a class="action" href="{{ url_for('activity.pull') }}">New Strava Pull</a>
            <a class="action" href="{{ url_for('activity.create') }}">New Manual Activity</a>
    {% endif %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='days.css') }}">
<div class="">
    <main>
      <div class="toolbar">
        <div class="toggle">
          <a class="action" href="{{ url_for('calendar.week') }}">
            {% if week %}
            <div class="toggle__option toggle__option--selected">week</div>
            {% else %}
            <div class="toggle__option">week</div>
            {% endif %}
          </a>
          <a href="{{ url_for('calendar.month') }}">
            {% if week %}
            <div class="toggle__option">month</div>
            {% else %}
            <div class="toggle__option toggle__option--selected">month</div>
            {% endif %}
          </a>
        </div>
        <div class="current-month">{{month.month_name}} {{month.year}}</div>
      </div>
    </main>
  </div>
{% endblock %}