{% extends 'calendar/index.html' %}

{% block content %}
{{ super() }}
<a class="action" href="{{ url_for('calendar.week', year=week.prev_week()[0], month=week.prev_week()[1], week=week.prev_week()[2]) }}">Previous</a>
<a class="action" href="{{ url_for('calendar.week', year=week.next_week()[0], month=week.next_week()[1], week=week.next_week()[2]) }}">Next</a>
<div class="calendar">
        <div class="calendar__header">
          <div>mon</div>
          <div>tue</div>
          <div>wed</div>
          <div>thu</div>
          <div>fri</div>
          <div>sat</div>
          <div>sun</div>
        </div>
        <div class="calendar__week">
            {% for day in week.days %}
                {% if day.date == 0 %}
                <div class="calendar__day day"></div>
                {% elif day.has_activities() %}
                <div class="calendar__day day">{{day.date}}
                    <div class="distance">{{day.miles()}}</div>
                </div>
                {% else %}
                <div class="calendar__day day">{{day.date }}</div>
            {% endif %}
            {% endfor %}
        </div>
      </div>
{% endblock %}